<template>
  <div class="container">
    <MenuComponent />
    <SidebarComponent />
    <div class="container-chat">
      <div class="header-chat">
        <HeaderChatComponent></HeaderChatComponent>
      </div>
      <div class="chat">
        <ChatComponent></ChatComponent>
      </div>
      <div class="container-message">
        <MessageComponent></MessageComponent>
      </div>
    </div>
</div>
</template>
<script>
import MenuComponent from '@/components/MenuComponent.vue';
import SidebarComponent from '@/components/SidebarComponent.vue';
import HeaderChatComponent from '@/components/HeaderChatComponent.vue';
import ChatComponent from '@/components/ChatComponent.vue';
import MessageComponent from '@/components/MessageComponent.vue';

export default {
  components: {
    MenuComponent,
    SidebarComponent,
    HeaderChatComponent,
    ChatComponent,
    MessageComponent,
  },
};

</script>
<style scoped>
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.container-chat {
  flex-direction: column;
  display: flex;
  max-width: calc(100vw - 25.125rem);
}
.header-chat {
  height: 56px;
}
.chat {
  border: 1px solid #E1E9F4;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.container-message {
  height: 9.18rem;
  border: 1px solid #E1E9F4;
}
</style>
