<template>
  <div class="bk-chat">
    <div class="container-day" >
      <div class="day">HOJE</div>
    </div>
    <div class="container-title-chat">
      <div class="title-chat">Início do chamado pelo cliente. Protocolo: 1002356910  - 12:54 </div>
    </div>
    <div class="day margin-left">Quero pagar minha fatura mas não consigo
      <div class="time">11:24</div>
    </div>

  </div>
</template>
<style scoped>
.bk-chat {
  background-image: url('../assets/Rectangle2101.png');
  background-color: rgba(234, 241, 251, 1);
  flex-grow: 1;
}
.container-day {
  display: flex;
  justify-content: center;
  padding: 1.69rem 0 0 0;
}
.day {
  display: flex;
  width: max-content;
  height: 1.75rem;
  border-radius: 10px;
  background: #FFF;
  justify-content: center;
  align-items: center;
  color: #000;
  text-align: center;
  font-size: 12px;
  line-height: 16px;
  font-family: 'Open Sans', sans-serif;
  padding: 2px 10px;
  font-weight: 300;
}
.container-title-chat {
display: flex;
justify-content: center;
padding-top: 1.75rem;
}

.title-chat {
  display: flex;
  width: max-content;
  height: 1.75rem;
  border-radius: 10px;
  background: #FFF;
  justify-content: center;
  align-items: center;
  color: #000;
  text-align: center;
  font-size: 10px;
  font-family: 'Open Sans', sans-serif;
  padding: 2px 10px;
}
.time {
  font-family: 'Open Sans', sans-serif;
  font-size: 6px;
  margin-left: 5px;
}
.margin-left {
  margin: 24px 0 0 20px;
}
</style>
