<template>
  <header>
    <h1>Omnichannel 3C+</h1>
    <hr />
    <form>
      <label for="pesquisar">
        <img src="../assets/search.png" alt="icon-search">
        <input
          class="input-search"
          type="text"
          id="pesquisar"
          name="pesquisar"
          placeholder="Pesquisar"
        >
      </label>
      <button type="button">
        <img src="../assets/plus.png" alt="icon-add">
      </button>
    </form>
  </header>
</template>

<script>
export default {
  name: 'HeaderSidebarConponent',
};
</script>

<style lang="scss" scoped>
header {
  display: flex;
  flex-direction: column;
  padding: 0.94rem 0.75rem 1rem 1rem;

  h1 {
    font-size: 1rem;
    font-weight: 500;
    margin-left: 0.5rem;
  }

  hr {
    border: 0;
    border-top: 1px solid #E1E9F4;
    margin: 0.65rem 0 0.85rem 0.5rem;
  }

  form {
    display: flex;
    justify-content: space-between;
    gap: 4rem;

    label {
      position: relative;

      img {
        position: absolute;
        top: 0.4rem;
        left: 0.1rem;
      }

      input {
        padding: 0.5rem 0 0.5rem 2.5rem;
        border: 0;
        outline: none;
      }
    }

    button {
      width: 2rem;
      height: 2rem;
      border-radius: 10px;
      background-color: #3057f2;
      border: none;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }
  }
}
</style>
