<template>
  <div class="container-header">
    <div class="container-avatar">
      <img class="avatar" src="../assets/Avatar.png" alt="icon-avatar">
      <div class="container-name">
        <strong class="name-user">Abner José Campos</strong>
        <h2 class="agent">Agente: Alanis Machado</h2>
      </div>
    </div>
    <div class="container-exit">
      <img src="../assets/Finalizar.png" alt="icon-exit">
      <img class="icon-more" src="../assets/more-horizontal.png" alt="icon-more">
    </div>
  </div>

</template>
<style scoped>
.container-header {
  display: flex;
  width: 100%;
}
.container-avatar {
  width: 20rem;
  display: flex;
  height: 46px;
  align-items:  center;
  gap: 0.625rem;
}
.avatar {
  width: 40px;
  height: 40px;
  margin: 0 4px 0 24px;
}
.name-user {
  height: 24px;
  font-family: 'Open Sans', sans-serif;
  color: #1B1B2B;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
.agent {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 12px;
  color: #677C92;
  margin: 0;
}
.container-name {

}
.container-exit {
  width: 14.87rem;
  height: 0.75rem;
  margin: 0.75rem 1.5rem 0.75rem 39rem;
}
.icon-more {
  width: 2rem;
  height: 2rem;
  background-color: #E1E9F4;
  border-radius: 7px;
  margin-left: 16px;
}
</style>
