<template>
  <div class="menu-left">
    <div class="icons">
      <img class="icon-3c" src="../assets/LOGOVETOR3C2.png" alt="icon-3c">
      <div class="icon-phone">
        <img src="../assets/phone.png" alt="icon-phone">
        <span></span>
      </div>
      <div class="icon-whats">
        <img src="../assets/whatsapp.png" alt="icon-whats">
      </div>
    </div>
    <img  class="user" src="../assets/User.svg" alt="icon-user">
  </div>
</template>
<style lang="scss" scoped>
.menu-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 4rem;
  border-right: 1px solid #E1E9F4;
  padding: 1rem 0 2rem 0;
}
.icons {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}
.icon-3c {
  width: 2.625rem;
  margin-bottom: 1.31rem;
}
.icon-phone {
  position: relative;

  span {
    position: absolute;
    width: 0.5rem;
    height: 0.5rem;
    background-color: #d2ddec;
    border-radius: 50%;
    top: -0.2rem;
    right: -0.2rem;
  }
}
.icon-whats {
  width: 100%;
  display: flex;
  justify-content: center;
  border-left: 2px solid #ffdb3a;
}
.user {
  width: 2.625rem;
}
</style>
