<template>
  <section>
    <div class="bk-number selected-chat">
      <p>Conversas</p>
      <div>
        <span>10</span>
      </div>
    </div>
    <div class="bk-number">
      <p>Grupos</p>
      <div>
        <span>4</span>
      </div>
    </div>
    <div class="bk-number fila">
      <p>Fila</p>
      <div>
        <span>25</span>
      </div>
    </div>
    <img src="../assets/more-horizontal.png" alt="icon-more">
  </section>
</template>

<script>
export default {
  name: 'MenuSidebarConponent',
};
</script>

<style lang="scss" scoped>
section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem 0 1.5rem;
  border-bottom: 1px solid #E1E9F4;

  .bk-number {
    display: flex;
    gap: 0.5rem;
    padding: 0.375rem 0;

    div {
      width: 1rem;
      height: 1rem;
      background-color: #E1E9F4;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      margin-top: 0.1rem;
    }

    p {
      font-size: 0.875rem;
    }

    span {
      font-size: 0.625rem;
    }
  }

  .selected-chat {
    border-bottom: 2px solid #3057f2;

    p {
      color: #3057f2;
    }
  }

  .fila {
    padding: 0 0.975rem 0 0.90rem;
  }
}
</style>
