<template>
  <div>
    <div class="header-message">
      <h2 class="title">Responder ao cliente</h2>
      <div>
       <img src="../assets/Nota-Interna.png" alt="">
       <img src="../assets/Emoji.png" alt="">
       <img src="../assets/Arquivo.png" alt="">
      </div>
    </div>
    <div class="text-input">
      <label class="input-message" for="descricao">
        <textarea
          class="text-area">
        </textarea>
      </label>
      <img  class="button-send" src="../assets/send.png" alt="">
    </div>
  </div>
</template>
<style scoped>
.title {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(55, 55, 83, 1);
  }
 .header-message {
  display: flex;
  justify-content: space-between;
  margin: 12px 32px 16px 32px;
 }
  .input-message {
    flex-grow: 1;
  }
  .text-input {
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
    align-items: flex-end;
    gap: 0.5rem;
  }
.text-area {
  width: 100%;
  outline: none;
  border: none;
  background: rgba(225, 233, 244, 1);
  border-radius: 8px;
  padding: 12px, 16px, 12px, 16px;
  text-decoration: none;
  resize: none;
}
.button-send {
  margin-bottom: 0.3rem;
}
</style>
