<template>
  <div class="sidebar">
    <HeaderSidebarComponent />
    <MenuSidebarComponent />
    <section class="contact-container">
      <div :class="{'active-chat': user.id === 1}" class="card" v-for="user in db" :key="user.id">
        <div class="user-info">
          <img :src="require(`@/assets/avatar/Avatar-${user.id}.svg`)" alt="avatar">
          <div class="card-text">
            <h2>{{ user.name }}</h2>
            <p>{{ user.message }}</p>
          </div>
        </div>
        <span>{{ user.date }}</span>
      </div>
    </section>
    <!--   <ContactComponent></ContactComponent> -->
  </div>
</template>
<script>
import db from '@/services/db.json';
import HeaderSidebarComponent from './HeaderSidebarComponent.vue';
import MenuSidebarComponent from './MenuSidebarComponent.vue';
/* import ContactComponent from './ContactComponent.vue'; */

export default {
  components: {
    HeaderSidebarComponent,
    MenuSidebarComponent,
    /* ContactComponent, */
  },
  data() {
    return {
      db,
    };
  },
};

</script>
<style lang="scss" scoped>
.sidebar {
  display: flex;
  flex-direction: column;
  width: 21.125rem;
  border-right: 1px solid #E1E9F4;
  overflow: hidden;

  .active-chat {
    background-color: #E1E9F4;
  }

  .contact-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    padding: 0.25rem 0.5rem;

    .card {
      height: 4.75rem;
      width: 100%;
      border-radius: 10px;
      position: relative;
      display: flex;
      align-items: center;
      padding: 1rem 0.5rem;

      .user-info {
        display: flex;
        gap: 0.5rem;

        h2 {
          font-size: 1rem;
        }

        p {
          font-size: 0.875rem;
        }
      }

      span {
        position: absolute;
        right: 0.5rem;
        top: 0.5rem;
        font-size: 0.75rem;
      }
    }
  }
}
</style>
